@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-Black.woff2") format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-BlackItalic.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-BlackItalic.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-Bold.woff2") format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-BoldItalic.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-BoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-ExtraBold.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-ExtraBold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque ExBold";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-ExtraBoldItalic.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-ExtraBoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-ExtraLight.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-ExtraLight.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque ExLight";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-ExtraLightItalic.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-ExtraLightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-Heavy.woff2") format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-HeavyItalic.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-HeavyItalic.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-Italic.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-Light.woff2") format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-LightItalic.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-LightItalic.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-Medium.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-MediumItalic.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-MediumItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-Regular.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-SemiBold.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque SmBold";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-SemiBoldItalic.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-SemiBoldItalic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-Thin.woff2") format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src:
    url("../fonts/galano-grotesque/GalanoGrotesque-ThinItalic.woff2")
      format("woff2"),
    url("../fonts/galano-grotesque/GalanoGrotesque-ThinItalic.woff")
      format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
